@model FourthDimensionOEC.Models.Variety
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = $"Variety Details for crop {Context.Session.GetString("SessVarCropName")}";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VarietyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
